@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    text-align: center;
}

#upArrow {
    color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: 700;
    position: fixed;
    bottom: 20px;
    left: 92%;
    transform: translateX(-50%);
    transition: all 0.6s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 1;
}

#upArrow.fade {
    opacity: 0;
}

img {
    max-width: 60%;
}

/* General - End */
/* Header - Start */
nav {
    width: 100%;
    background: #f4f4f4;
    padding: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

nav li {
    text-align: center;
    width: 120px;
    background: gold;
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: #f4f4f4;
    transition: all .6s ease;
}

nav li a:hover {
    color: #0e0e0e;
    border-bottom: 1px solid #1c1c1c;
}

nav.fixed {
    position: fixed;
    top: 0px;
    left: 0;
}

/* Header - End */
/* Article - Start */
.article__item {
    margin-top: 80px;
}

/* Article - End */
/* Footer - Start */
.footer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
}