* {
    box-sizing: border-box;
}

#wrap {
    position: relative;
}

img {
    border-radius: 20px;
    max-width: 50%;
}

.glass {
    position: absolute;
    border: 3px solid #000000a8;
    /* border-radius: 50%; */
    cursor: none;
    width: 100px;
    height: 100px;
    top: 106%;
    left: 45%;
}