.dogs__container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dog-container {
    position: relative;
    max-width: 100%;
    min-height: 140px;
    border: 2px solid #2424245e;
    padding: 20px;
    border-radius: 10px;
}

.dog {
    position: absolute;
    width: calc(331px / 3);
    height: 80px;
    background-position: 0 0;
    background-image: url(../images/dog.jpg);
    animation-duration: 1s, 1s, 15s;
    left: 80%;
    top: 20%;
}

@keyframes play-x {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -331px;
    }
}

@keyframes play-y {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -160px;
    }
}

@keyframes move {
    0% {
        left: 90%;
    }

    100% {
        left: 0;
    }
}